/* recieved this code from initial-homer-white for the styling
of the social links on my about page */



.ul-socials {
  list-style-type: none !important;
  padding: 0;
  display: block;
  text-align: center;
}

.ul-socials li {
  display: inline-block;
}

.nested-links .ul-socials li a {
  text-align: center;
  padding: 8px;
  margin: 10px;
}
  

/* Push main content left to leave room for sidebar */
@media (min-width: 992px) {
  .mw7 {
    margin-right: 260px; /* space for sidebar */
  }
}


.blog-card-title {
  color: #ff1493; /* default pink */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
}

.blog-card:hover .blog-card-title {
  color: #ff69b4; /* brighter pink on hover */
}

